body{
    margin: 0;
}
#container__signature__generator__leftcontent__text, .content_form, .content_form_box, #container__signature__viewer__title, #container__signature__footer__steeps{
    color: #000000C7;
}
#table_box_button_copy, #container__signature__generator__rightcontent__buttonsubmit, #container__signature__generator__rightcontent__buttonclean{
    font: normal normal bold 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #383838;
}
#table_box_button_copy, #container__signature__generator__rightcontent__buttonsubmit, #container__signature__generator__rightcontent__buttonclean, #container__signature__viewer, #container__signature__footer{
    box-shadow: 0px 3px 6px #CCCCCC;
}
#container__signature__generator__leftcontent, #container__signature__generator__rightcontent{
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
#background, #container__signature__generator__leftcontent__title,#container__signature__generator__leftcontent__text,#container__signature__generator__rightcontent__logo,.content_form#table_box_button_copy, #container__signature__generator__rightcontent__buttonsubmit,#container__signature__generator__rightcontent__buttonclean, #container__signature__viewer, #container__signature__viewer__title,#container__signature__footer,#container__signature__footer__steeps, #container__signature__footer__title{
    opacity: 1;
}
#container__signature__generator__rightcontent, #container__signature__viewer, #container__signature__footer{
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
#background{
    width: auto;
    height: auto;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    background-size: cover;
}
header{
    height:auto;
    width:auto;
    display: inline-flex;
    
}
#container__signature__generator, #container__signature__viewer, #container__signature__footer{
    margin: 20px;
}
#container__signature__viewer, #container__signature__generator{
    width: 770px;
    height: 413px;
    display: flex;
}
#container__signature__generator{
    justify-content: space-between;   
}
#container__signature__generator__leftcontent{
    position: absolute;
    width: 255px;
    height: 413px;
    padding: 25px;
    background: #85C70099 0% 0% no-repeat padding-box;
    display:flex;
    flex-direction: column;
    justify-content:center;
    box-sizing: border-box;
}
#container__signature__generator__leftbackground{
    position: absolute;
    width: auto;
    height: 413px;
}
#container__signature__generator__leftcontent__title{
    text-align: center;
    font: normal normal 900 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #1C1C1C;
    margin:0;
}
#container__signature__generator__leftcontent__text{
    text-align: center;
    font: normal normal medium 14px/18px Montserrat;
    letter-spacing: 0px;
    margin: 0;
}
#container__signature__generator__rightcontent{
    position: relative;
    width: 515px;
    height: 413px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#container__signature__generator__rightcontent__logo{
    max-width: 197px;
    max-height: 70px;
}
#container__signature__generator__rightcontent__form{
    width:auto;
    position: absolute;
    top: 96px;
}
.content_form{
    font: normal normal 600 12px/15px Montserrat;
    letter-spacing: 0px;
    margin-bottom: 0;
    margin-top: 15px;
}
.content_form_box{
    width: 400px;
    height: 20px;
    font: normal normal 400 11px/14px Montserrat;
    letter-spacing: 0px;
    opacity: 0.9;
    border: 0;
    border-bottom: 1px solid #CCCCCC;
}
#container__signature__generator__rightcontent__buttonsubmit{
    position: absolute;
    bottom: 35px;
    left: 52px;
}
#table_box_button_copy, #container__signature__generator__rightcontent__buttonsubmit{
    width: 179px;
    height: 40px;
    background: #9FC54A 0% 0% no-repeat padding-box;
    border: 0;
    cursor: pointer;
}
#container__signature__generator__rightcontent__buttonclean{
    position: absolute;
    bottom: 35px;
    right: 52px;
    width: 179px;
    height: 40px;
    background: #CCCCCC 0% 0% no-repeat padding-box;
    border: 0;
    cursor: pointer;
}
#container__signature__viewer{
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 35px;
    padding-left:15px;
    box-sizing: border-box;
}
#container__signature__viewer__title{
    left: 15px;
    top:10px;
    font: normal normal 800 12px/15px Montserrat;
    letter-spacing: 0px;
    align-self: flex-start;
}
#table_box{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 65%;
}

#container__signature__footer{
    width: 1580px;
    height: 413px;
    padding: 25px;
    padding-top: 10px;
    box-sizing: border-box;
    flex-direction: column;
}
#container__signature__footer__title{
    text-align: center;
    font: normal normal 800 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #000000C7;
}
#container__signature__footer__steeps{
    text-align: left;
    font: normal normal medium 12px/25px Montserrat;
    letter-spacing: 0px;
}
li{
    padding:2px;
}
@media screen and (max-width: 1580px) {
    body{
    scale: 0.82;
    }
}
@media screen and (max-width: 800px) {
    body{
        scale:1;
    }
    header{
        display:block;
    }
    #container__signature__generator, #container__signature__viewer, #container__signature__footer{
        margin:0px;
        margin-bottom: 20px;
    }
    /* #container__signature__generator__rightcontent{
        left: 262px;
    } */
    #container__signature__footer{
        width: 770px;
        height: 413px;
    }
}
@media screen and (min-width: 1280px) {
    body{
        display:flex;
        align-items:center;
        justify-content:center;

    }
}